/* body {
    background-color: rgb(25, 125, 212);

}

* {
    margin: 0;
    padding: 0;
}

h2 {
    color: #020000;
    font-weight: 700;
    font-size: x-large;
    display: table;
}

.border {
    background-color: rgb(red, green, blue);
    border: 2px solid black;
    width: 400px;
    height: 400px;
    padding-top: 24px;
    margin: auto;
    padding-left: 53px;
    background-color: #fef2f2;
    border-radius: 21px;

}

div {
    margin: 16px 23px;
}

.links {
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 46vw;
    margin-top: 12px;
    background-color: wheat;
    color: black;
} */